* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	background-color: #ccc;
	padding:10px;
	height: 100%;
	display: flex;
}
.leftPane {
	background-color: #ccc;
	padding:10px;
	min-height: 96vh;
	display: flex;
	flex-direction: column;
}
.locationFilter {
	width: 100%;
}
.locationList {
	flex: 1;
}
.mapArea {
	flex: 1;
	position: relative;
}
#map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.fill {
	margin-bottom: 85%;
}